# ------------------------
# System & OS
# ------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# ------------------------
# Python / venv / Reports
# ------------------------
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
report.json
*.log

# ------------------------
# Documentation & Misc
# ------------------------
README.md
*.bak
*.backup
*~